doctype html
html
  head
    title= title
  body
  h1= title
  
   form(action='/update-cobj', method='post')
      label(for='firstname') Name:
      input(type='text', id='firstname', name='firstname', required)
      br
      label(for='race') Race:
      input(type='text', id='race', name='race', required)
      br
      label(for='color') Color:
      input(type='text', id='color', name='color', required)
      // Add other form fields for additional custom object properties
      br
      input(type='submit', value='Submit')

  a(href="/") Return to the homepage
